* eclipse galileo SR1 for java developers (not EE)
* ...
* get junit jar and src.jar, put both in /lib/junit/*
* get berkeley DB java edition put it in /lib/je/*  (ie. je-3.3.87.jar)
* unpack bdb JE src folder into /lib/je/*  (afterwards it's /lib/je/src/com/*)

* if you get java.lang.NoClassDefFoundError
   do this: Window->Preferences->Java->Installed JREs->Search, tick one, Ok
   also do a Clean

   
the above were tested under Win7 ultimate 64bit, jdk1.6.0 u16
