.treeview {
position:absolute;/*so it can be moved by drag-drop*/
background-color:#00008B;
padding-left: 22px;
padding-right: 2px;
padding-top: 2px;
}

.treeview ul{ /*CSS for Simple Tree Menu*/
margin: 0;
padding: 0;
}

.treeview li{ /*Style for LI elements in general (excludes an LI that contains sub lists)*/
background: black url(none) no-repeat left center;
list-style-type: none;
padding-left: 22px;
margin-bottom: 2px;
color:white;
}

.treeview li.root{ /* Style for LI that contains sub lists (other ULs). */
background: black url(closed.png) no-repeat left 1px;
cursor: pointer !important;
color:blue;
}


.treeview li.root ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}

.treeview .root ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
cursor: default;
}


.treeview li.node{ /* Style for LI that contains sub lists (other ULs). */
background: black url(closed.png) no-repeat left 1px;
cursor: pointer !important;
}


.treeview li.node ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}

.treeview .node ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
cursor: default;
}

.treeview li.leaf{ /* Style for LI that contains sub lists (other ULs). */
background: black url(list.png) no-repeat left center;
color:maroon;
}


.treeview li.leaf ul{ /*Style for ULs that are children of LIs (submenu) */
display: none; /*Hide them by default. Don't delete. */
}

.treeview .leaf ul li{ /*Style for LIs of ULs that are children of LIs (submenu) */
cursor: default;
}


